@model Clinica2.Models.Consultas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspecialidadeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspecialidadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvenioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvenioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamesId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConsultasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
