@model IEnumerable<Clinica2.Models.Consultas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConvenioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamesId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConvenioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamesId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsultasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConsultasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConsultasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
